menu.history {
  @include clearfix();
  min-height: 2em;
  padding: 0;
  margin: 1em 0;
  font-family: $sansSerif;
  font-size: emize(13, 16);
  line-height: 1.3;
  span:before {
    color: $backgroundDark;
  }
  .previous, .next {
    padding: 0;
    margin: 0;
    a {
      cursor: pointer;
      &:hover {
        span:before {
          color: $backgroundDarker;
        }
      }
    }
    span.title {
      display: inline-block;
      width: 15em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    span.icon-large {
      color: $backgroundDark;
      width: 1.5em;
      font-size: 1.5em;
    }
  }
  .previous {
    float: left;
    span {
      text-align: left;
    }
  }
  .next {
    float: right;
    text-align: right;
    span {
      text-align: right;
    }
  }
}
