.vagrant
.rnd
.htaccess
.DS_Store
licens-sv_SE.txt
license.txt
readme.html
wp-config.php
wp-config-sample.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
/plugins/wordpress-importer
/plugins/kk-star-ratings
/plugins/w3-total-cache
/plugins/Basic-Auth
/plugins/WP-API

*.log
sitemap.xml
sitemap.xml.gz
.sass-cache

/themes/*/stylesheets/application.css
/themes/*/stylesheets/application.css.map

/index.php
/wp-activate.php
/wp-admin/
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-content/languages/
/wp-cron.php
/wp-feed.php
/wp-includes/
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-pass.php
/wp-rdf.php
/wp-register.php
/wp-rss.php
/wp-rss2.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/plugins/valideratext
/plugins/wpdirauth
/plugins/most-commented
/plugins/content-scheduler
/plugins/auto-hyperlink-urls
/plugins/brightcove-video-cloud
/plugins/saml-20-single-sign-on/etc/certs/
/plugins/saml-20-single-sign-on/etc/config/saml20-idp-remote.ini
/plugins/akismet
/themes/twentyfourteen
/themes/twentyfifteen
