.vagrant
.rnd
.htaccess
.DS_Store
licens-sv_SE.txt
license.txt
readme.html
wp-config.php
wp-config-sample.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/plugins/wordpress-importer
wp-content/plugins/kk-star-ratings
wp-content/plugins/w3-total-cache
wp-content/w3tc-config

sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml
sitemap.xml.gz
.sass-cache

# /wp-content/themes/*/stylesheets/application.css
# /wp-content/themes/*/stylesheets/application.css.map

/index.php
/wp-activate.php
/wp-admin/
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-content/languages/
/wp-cron.php
/wp-feed.php
/wp-includes/
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-pass.php
/wp-rdf.php
/wp-register.php
/wp-rss.php
/wp-rss2.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-content/plugins/valideratext
/wp-content/plugins/vote-it-up
/wp-content/plugins/wpdirauth
/wp-content/plugins/most-commented
/wp-content/plugins/content-scheduler
/wp-content/plugins/auto-hyperlink-urls
/wp-content/plugins/saml-20-single-sign-on/etc/certs/
/wp-content/plugins/saml-20-single-sign-on/etc/config/saml20-idp-remote.ini
/wp-content/themes/twentyfourteen
/wp-content/themes/twentyfifteen
