@media ( max-width: 45em ) {
  [role="main"] {
    @include columns(12);
    padding-right: 1em;
  }
  aside {
    @include columns(12);
    h1 {
      margin-top: .5em;
    }
  }
  body > .wrapper {
    margin-top: 1em;
  }

  article {
    .entry-tags, .entry-meta {
      margin-bottom: .5em;
    }
    .author-avatar {
      img {
        clear: both;
        float: none;
        margin: 0;
      }
      .author {
        clear: both;
        float: none;
        text-align: left;
      }
    }
  }
}

@media ( max-width: 34em ) {
  .box-content {
    font-size: emize(16, 16) !important;
  }
  .service-title a {
    font-size: emize(15, 13) !important;
  }
  #wpadminbar {
    display: none;
  }
}

@media ( max-width: 28em ) {
  article {
    .alignright, 
    .alignleft, 
    .alignnone, 
    .aligncenter, 
    .featured-image img {
      display: block;
      float: none;
      margin: .3em 0 1em 0;
      width: 100%;
      height: auto;
    }
  }
  body > footer {
    ul, ul.list-3 {
      @include columns(12);
    }
  }
}
