/* NOTE: Use $sansSerifSemibold with font-weight: normal */
body > .wrapper {
  max-width: 56em;
  min-height: 40em;
  margin: 1.5em auto 1em;
  padding: 0 1em; }

[role="main"] {
  width: 65.33333%;
  margin-right: 4%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

aside {
  width: 30.66667%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.page-title {
  font-weight: normal;
  font-size: 2em;
  line-height: 1.1;
  margin: 0 0 .2em; }
  .page-title.with-feed {
    padding-bottom: .1em;
    border: #cccccc 1px solid;
    border-width: 0 0 1px; }

.btn.edit {
  margin: 1em 0; }

.wrapper .categories .page-title, .wrapper .archive .page-title, .wrapper .authors .page-title, .wrapper .help .page-title {
  margin-bottom: .5em; }
.wrapper .categories li, .wrapper .archive li, .wrapper .authors li, .wrapper .help li {
  margin-bottom: .8em; }
.wrapper .categories .count, .wrapper .archive .count, .wrapper .authors .count, .wrapper .help .count {
  color: #888888;
  font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  font-size: 0.8125em; }

#wpadminbar {
  position: absolute !important;
  z-index: 1 !important;
  display: none; }

article {
  overflow: hidden; }
  article.body-copy time {
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.8125em;
    display: run-in;
    margin-right: 1em; }
  article .alignright, article .aligncenter {
    float: right;
    margin: .3em 0 1em 1em;
    width: 42%;
    height: auto; }
  article .alignleft {
    float: left;
    margin: .3em 1em 1em 0;
    width: 42%;
    height: auto; }
  article .alignnone {
    float: none;
    display: block;
    clear: both;
    margin: .3em 0 1em;
    width: 100%;
    height: auto; }
  article .featured-image {
    float: right;
    width: 42%;
    margin: .3em 0 1em 1em; }
  article .featured-image .caption, article .wp-caption .wp-caption-text {
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.8125em; }
  article .featured-image img {
    width: 100%;
    height: auto;
    margin-bottom: 0.2em !important; }
  article img {
    max-width: 100%; }
  article .entry-tags, article .entry-meta {
    margin: 0 0 .2em; }
    article .entry-tags dt, article .entry-tags dd, article .entry-meta dt, article .entry-meta dd {
      display: inline;
      font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
      font-size: 0.8125em;
      margin: 0; }
      article .entry-tags dt ul, article .entry-tags dd ul, article .entry-meta dt ul, article .entry-meta dd ul {
        margin: 0; }
      article .entry-tags dt ul, article .entry-tags dt li, article .entry-tags dd ul, article .entry-tags dd li, article .entry-meta dt ul, article .entry-meta dt li, article .entry-meta dd ul, article .entry-meta dd li {
        display: inline;
        padding: 0; }
  article .box {
    clear: both; }
  article .box-content {
    margin-bottom: .5em;
    font-size: 0.875em;
    line-height: 1.35714em; }
  article .box.read-more ul, article .box.read-more ol {
    margin-bottom: 0; }
  article .meta {
    clear: both; }
    article .meta ul {
      padding-left: 0; }
  article .author-avatar img {
    float: right;
    width: 15%;
    height: auto;
    margin: 0 0 0 1em; }
  article .author-avatar .author {
    clear: right;
    float: right;
    min-width: 150px;
    text-align: right;
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.8125em; }

#comments {
  margin-bottom: 1em;
  clear: both;
  *zoom: 1; }
  #comments:before, #comments:after {
    display: table;
    content: "";
    line-height: 0; }
  #comments:after {
    clear: both; }
  #comments li {
    *zoom: 1; }
    #comments li:before, #comments li:after {
      display: table;
      content: "";
      line-height: 0; }
    #comments li:after {
      clear: both; }
  #comments ul {
    clear: both; }
  #comments h1, #comments h3 {
    font-size: 0.9375em;
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    border-bottom: #cccccc 1px solid;
    margin: 1em 0 .5em;
    padding-bottom: .2em; }
  #comments p {
    font-size: 0.875em;
    line-height: 1.35714em;
    margin-bottom: .5em; }
  #comments .logged-in-as {
    font-size: 0.8125em;
    line-height: 1.2;
    margin-bottom: 1em; }
  #comments .comment-body {
    margin: 0 0 1.5em 16%;
    clear: both; }
  #comments .commentmetadata {
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.6875em;
    line-height: 1.3;
    display: run-in;
    margin-right: .5em; }
  #comments .comment-author.vcard img {
    clear: both;
    float: left;
    margin: .4em 0 1em -19%;
    width: 15%;
    height: auto; }
  #comments .comment-author.vcard cite, #comments .comment-author.vcard .says {
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.8125em;
    line-height: 1.3;
    font-style: normal; }
  #comments .comment-form-comment {
    margin-bottom: 0; }
    #comments .comment-form-comment label {
      font-size: 0.92857em;
      line-height: 1.2; }
    #comments .comment-form-comment label:after {
      content: ":"; }
    #comments .comment-form-comment textarea {
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%; }
  #comments .reply {
    display: none; }

.loop {
  margin-bottom: 1em; }
  .loop .post {
    clear: both;
    display: block;
    *zoom: 1;
    -ms-box-sizing: "border-box";
    -webkit-box-sizing: "border-box";
    -moz-box-sizing: "border-box";
    box-sizing: "border-box";
    padding: .4em 0 .4em;
    border: solid white;
    border-width: 1px 0;
    margin: 0; }
    .loop .post:before, .loop .post:after {
      display: table;
      content: "";
      line-height: 0; }
    .loop .post:after {
      clear: both; }
    .loop .post .article-image {
      float: left;
      margin: .3em 0 0;
      padding: 0;
      width: 15%;
      background-color: whitesmoke; }
      .loop .post .article-image img {
        width: 100%;
        height: auto;
        border: none;
        margin: 0; }
    .loop .post .text {
      margin-left: 18%; }
    .loop .post h1 {
      font-weight: normal;
      font-size: 1.375em;
      line-height: 1.3;
      margin: 0; }
    .loop .post p {
      font-size: 1em;
      line-height: 1.3125em;
      color: black;
      margin: 0; }
    .loop .post .entry-meta {
      font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
      font-size: 0.8125em; }
      .loop .post .entry-meta time {
        color: black; }
    .loop .post .comments-link {
      color: #007133;
      font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
      font-size: 0.8125em; }
  .loop .feed {
    margin: 0;
    display: block;
    clear: both; }

menu.history {
  *zoom: 1;
  min-height: 2em;
  padding: 0;
  margin: 1em 0;
  font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  font-size: 0.8125em;
  line-height: 1.3; }
  menu.history:before, menu.history:after {
    display: table;
    content: "";
    line-height: 0; }
  menu.history:after {
    clear: both; }
  menu.history span:before {
    color: #888888; }
  menu.history .previous, menu.history .next {
    padding: 0;
    margin: 0; }
    menu.history .previous a, menu.history .next a {
      cursor: pointer; }
      menu.history .previous a:hover span:before, menu.history .next a:hover span:before {
        color: #5a5a5a; }
    menu.history .previous span.title, menu.history .next span.title {
      display: inline-block;
      width: 15em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    menu.history .previous span.icon-large, menu.history .next span.icon-large {
      display: inline-block;
      color: #888888;
      width: 1.5em;
      font-size: 1.5em; }
  menu.history .previous {
    float: left; }
    menu.history .previous span {
      text-align: left; }
  menu.history .next {
    float: right;
    text-align: right; }
    menu.history .next span {
      text-align: right; }

aside {
  margin-bottom: 1em; }
  aside .latest-post a {
    clear: both;
    display: block;
    *zoom: 1;
    -ms-box-sizing: "border-box";
    -webkit-box-sizing: "border-box";
    -moz-box-sizing: "border-box";
    box-sizing: "border-box";
    padding: .4em 0 .4em;
    border: solid transparent;
    border-width: 1px 0;
    margin: 0; }
    aside .latest-post a:before, aside .latest-post a:after {
      display: table;
      content: "";
      line-height: 0; }
    aside .latest-post a:after {
      clear: both; }
  aside li:first-child a:hover {
    border-top-color: whitesmoke; }
  aside h1 {
    font-size: 0.9375em;
    line-height: 1;
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    border-bottom: #cccccc 1px solid;
    margin: 0 0 .4em;
    padding-bottom: .2em; }
    aside h1 a {
      color: black;
      padding: 0; }
  aside h2 {
    font-weight: normal;
    font-size: 0.875em;
    line-height: 1.35714em; }
  aside p {
    font-size: 0.875em;
    line-height: 1.35714em;
    color: black; }
  aside h2, aside p {
    margin: 0 0 0 18%; }
  aside time {
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.78571em;
    margin-right: .5em; }
  aside .featured-image {
    float: left;
    margin: .2em 0 0;
    width: 15%;
    background-color: whitesmoke; }
    aside .featured-image img {
      width: 100%;
      height: auto;
      border: none; }

@media (max-width: 34em) {
  .box-content {
    font-size: 1em !important; }

  .service-title a {
    font-size: 1.15385em !important; }

  #wpadminbar {
    display: none; } }
@media (max-width: 28em) {
  article .alignright,
  article .alignleft,
  article .alignnone,
  article .aligncenter,
  article .featured-image img {
    display: block;
    float: none;
    margin: .3em 0 1em 0;
    width: 100%;
    height: auto; } }
@media print {
  body > footer, body > header, aside, menu,
  #respond, .service-title, .btn, .vote-box, .feed {
    display: none !important; } }
body {
  padding: 0 .5em;
  min-width: 56em;
  margin: 0 1em 2em; }

.wrapper, .breadcrumbs {
  *zoom: 1;
  max-width: 56em;
  margin: 0 auto; }
  .wrapper:before, .wrapper:after, .breadcrumbs:before, .breadcrumbs:after {
    display: table;
    content: "";
    line-height: 0; }
  .wrapper:after, .breadcrumbs:after {
    clear: both; }

[role="main"] {
  width: 74%;
  margin-right: 4%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

aside {
  width: 22%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  aside .featured-image {
    background-color: transparent;
    width: 18%; }
  aside h2, aside p {
    margin: 0 0 0 22%; }

.post article.body-copy, .post .history, .post #comments {
  width: 74%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right; }
.post .body-copy h1 {
  margin-top: 0; }
.post article {
  margin-top: .5em; }
  .post article .entry-meta, .post article .entry-tags {
    display: none; }
    .post article .entry-meta ul, .post article .entry-tags ul {
      margin: 0; }
.post .meta {
  width: 22%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: .8em; }
  .post .meta .author-avatar img {
    float: none;
    width: 100%;
    height: auto; }
  .post .meta .author-avatar .author {
    clear: right;
    float: none;
    min-width: 0;
    text-align: left;
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.8125em;
    margin: 0;
    color: #007133; }
  .post .meta time, .post .meta dl {
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.6875em;
    clear: left; }
  .post .meta dd {
    margin-left: 0; }
    .post .meta dd li {
      display: inline; }
  .post .meta .entry-meta {
    margin-bottom: 0em;
    *zoom: 1; }
    .post .meta .entry-meta:before, .post .meta .entry-meta:after {
      display: table;
      content: "";
      line-height: 0; }
    .post .meta .entry-meta:after {
      clear: both; }
  .post .meta .entry-tags {
    margin-bottom: 2em;
    *zoom: 1; }
    .post .meta .entry-tags:before, .post .meta .entry-tags:after {
      display: table;
      content: "";
      line-height: 0; }
    .post .meta .entry-tags:after {
      clear: both; }
  .post .meta .share a span {
    font-size: 1.6em;
    margin-right: .3em; }
    .post .meta .share a span.icon-twitter, .post .meta .share a span.icon-twitter-sign {
      color: #55acee; }
    .post .meta .share a span.icon-twitter {
      font-size: 1.8em; }
    .post .meta .share a span.icon-facebook, .post .meta .share a span.icon-facebook-sign {
      color: #4C66A4; }
.post #comments .comment-body {
  *margin-left: 19%; }

.loop {
  margin-top: 0; }
  .loop section.post {
    padding: 0 0 1em; }
    .loop section.post .entry-meta {
      margin-top: 0; }
    .loop section.post h1 {
      margin: -.2em 0 0; }
  .loop .post .entry-meta {
    margin-top: .5em;
    width: 22%;
    margin-right: 0;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 1em; }
    .loop .post .entry-meta .author {
      margin-bottom: .2em;
      color: #007133;
      font-size: 0.8125em; }
    .loop .post .entry-meta time {
      font-size: 0.6875em; }
    .loop .post .entry-meta .avatar img {
      width: 100%;
      height: auto;
      border: none; }
    .loop .post .entry-meta time {
      display: block; }
  .loop .post .text {
    width: 74%;
    margin-right: 0;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    margin: 0; }

aside li:first-child a, aside:hover {
  border: none; }
aside h1 a {
  border-width: 0; }
aside nav {
  font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif; }
  aside nav li {
    line-height: 1.3;
    margin: 0 0 .6em; }
  aside nav a {
    font-size: 0.8125em;
    color: black; }
aside .latest-post {
  margin-bottom: 1.5em; }
  aside .latest-post a {
    padding: 0 0 1em;
    color: black; }
  aside .latest-post h2 {
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.8125em; }
  aside .latest-post time {
    color: black;
    font-size: 0.6875em;
    margin-left: 22%;
    display: block; }
  aside .latest-post p {
    clear: left;
    margin: 0; }
aside .widget-area {
  margin: 0 0 2em; }
  aside .widget-area p {
    margin: 0 0 1em;
    clear: both; }

.breadcrumbs {
  list-style: none;
  margin-top: .5em;
  padding: 0; }
  .breadcrumbs li {
    font-family: "OpenSans", "Droid Sans", Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.8125em;
    margin: 0 0 0 0;
    padding: 0;
    display: inline-block; }
    .breadcrumbs li:after {
      content: "\f054";
      font-family: FontAwesome;
      margin: 0 .5em 0 .7em;
      font-size: 0.8125em; }
    .breadcrumbs li:last-child:after {
      content: "";
      margin: 0; }

@media (max-width: 68em) {
  body {
    min-width: 0; } }
@media (max-width: 51em) {
  body {
    padding: 0;
    margin-left: 0;
    margin-right: 0; }
    body .wrapper {
      margin: 0 1.5em;
      padding-bottom: 1em; } }
@media (max-width: 54em) {
  [role="main"] {
    width: 100%;
    margin-right: 4%;
    margin-right: 0;
    float: none;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1em; }

  aside {
    width: 100%;
    margin-right: 4%;
    margin-right: 0;
    float: none;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    aside .featured-image {
      width: 15%; }
    aside h2, aside p {
      margin-left: 18%;
      clear: none; }

  body > .wrapper {
    margin-top: 1em; }

  .meta .entry-tags, .meta .entry-meta {
    margin-bottom: .5em; }
  .meta .author-avatar img {
    clear: both;
    float: none;
    margin: 0; }
  .meta .author-avatar .author {
    clear: both;
    float: none;
    text-align: left; } }
@media (max-width: 32em) {
  .post article.body-copy, .post .history, .post #comments, .post .meta {
    width: 100%;
    margin-right: 4%;
    margin-right: 0;
    float: none;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .post article.body-copy {
    overflow: visible; }
  .post article .entry-meta, .post article .entry-tags {
    display: block; }
  .post .meta {
    margin: .2em .8em .4em 0;
    width: 30%;
    float: left; }
    .post .meta .entry-meta, .post .meta .entry-tags {
      display: none; }
    .post .meta .author-avatar {
      margin-top: .3em; }
      .post .meta .author-avatar img {
        max-width: 8em; }
  .post article.body-copy {
    float: none; }

  aside {
    width: 100%;
    margin-right: 4%;
    margin-right: 0;
    float: none;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
