h1.body-copy {
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
  font-weight: normal;
  font-size: 2.25em;
  line-height: 1.11111em;
  margin: 0 0 .3em; }

h2.body-copy {
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.20833em;
  margin: 1.5em 0 .2em; }

h3.body-copy {
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
  font-weight: bold;
  font-size: 1.0625em;
  line-height: 1.47059em;
  margin: 1.5em 0 0; }

h4.body-copy {
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.0625em;
  line-height: 1.47059em;
  margin: 1.5em 0 0; }

p.body-copy {
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
  font-size: 1.0625em;
  line-height: 1.47059em; }

p.preamble-body-copy {
  font-weight: bold;
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  font-size: 1em;
  line-height: 1.3125em; }

h1.aside, .single .post #reply-title, #comments h1 {
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  border-bottom: #b5b5b5 1px solid;
  margin: 0 0 .4em;
  padding: 0 0 .2em; }

.wrapper {
  *zoom: 1;
  max-width: 60em;
  margin: 0 auto 2em;
  padding: 0 .5em; }
  .wrapper:before, .wrapper:after {
    display: table;
    content: "";
    line-height: 0; }
  .wrapper:after {
    clear: both; }

main {
  width: 73.75%;
  margin-right: 5%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

aside {
  width: 21.25%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.single .post .article-and-comments {
  width: 74%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.single .post .meta {
  width: 22%;
  margin-right: 4%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .single .post .meta .author {
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.875em;
    margin-bottom: .8em; }
    .single .post .meta .author img {
      margin-top: .5em;
      width: 100%;
      height: auto; }
  .single .post .meta time {
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.75em; }
.single .post .alignright, .single .post .aligncenter {
  float: right;
  margin: .3em 0 1em 1em;
  width: 42%;
  height: auto; }
.single .post .alignleft {
  float: left;
  margin: .3em 1em 1em 0;
  width: 42%;
  height: auto; }
.single .post .alignnone {
  float: none;
  display: block;
  clear: both;
  margin: .3em 0 1em;
  width: 100% !important;
  height: auto; }
  .single .post .alignnone img {
    width: 100%;
    height: auto; }
.single .post .featured-image {
  float: right;
  width: 42%;
  margin: .3em 0 1em 1em; }
.single .post .featured-image .caption, .single .post .wp-caption .wp-caption-text {
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  font-size: 0.875em;
  margin-bottom: 0; }
.single .post .featured-image img {
  width: 100%;
  height: auto;
  margin-bottom: 0.2em !important; }
.single .post img {
  max-width: 100%; }
.single .post .entry-meta, .single .post .entry-tags {
  *zoom: 1;
  margin: 1em 0;
  padding: 0; }
  .single .post .entry-meta:before, .single .post .entry-meta:after, .single .post .entry-tags:before, .single .post .entry-tags:after {
    display: table;
    content: "";
    line-height: 0; }
  .single .post .entry-meta:after, .single .post .entry-tags:after {
    clear: both; }
  .single .post .entry-meta li, .single .post .entry-tags li {
    display: inline;
    margin: 0;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.75em; }
  .single .post .entry-meta li:first-child, .single .post .entry-tags li:first-child {
    font-weight: bold;
    display: block; }
.single .post .entry-tags {
  margin-bottom: 2em; }
.single .post .edit {
  margin: 2.5em 0; }
  .single .post .edit a {
    color: black; }
    .single .post .edit a:hover {
      text-decoration: none; }
.single .post article .entry-meta, .single .post article .entry-tags {
  display: none; }
  .single .post article .entry-meta li:first-child, .single .post article .entry-tags li:first-child {
    font-weight: bold;
    display: inline; }
    .single .post article .entry-meta li:first-child::after, .single .post article .entry-tags li:first-child::after {
      content: ": ";
      margin-right: .3em; }
.single .post #reply-title {
  margin-top: 2em; }

#comments {
  margin-bottom: 1em;
  clear: both;
  *zoom: 1; }
  #comments:before, #comments:after {
    display: table;
    content: "";
    line-height: 0; }
  #comments:after {
    clear: both; }
  #comments li {
    *zoom: 1; }
    #comments li:before, #comments li:after {
      display: table;
      content: "";
      line-height: 0; }
    #comments li:after {
      clear: both; }
  #comments ul, #comments ol {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both; }
  #comments h1 {
    margin-top: 2em; }
  #comments p {
    font-size: 0.9375em;
    line-height: 1.4;
    margin-bottom: .5em; }
  #comments .logged-in-as {
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em; }
  #comments .comment-body {
    margin: 0 0 1.5em 16%;
    clear: both; }
  #comments .commentmetadata {
    margin: .3em 0;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.75em;
    line-height: 1.3; }
  #comments .comment-author.vcard img {
    clear: both;
    float: left;
    margin: .3em 0 1em -19%;
    width: 15%;
    height: auto; }
  #comments .comment-author.vcard cite, #comments .comment-author.vcard .says {
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.875em;
    line-height: 1.3;
    font-style: normal; }
  #comments .reply {
    display: none; }

.loop {
  margin-top: 0; }
  .loop .post {
    *zoom: 1;
    margin-bottom: 1.5em; }
    .loop .post:before, .loop .post:after {
      display: table;
      content: "";
      line-height: 0; }
    .loop .post:after {
      clear: both; }
    .loop .post h1 {
      font-size: 1.5em; }
    .loop .post .body-copy {
      width: 74.5%;
      margin-right: 0;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .loop .post .body-copy p {
        margin: 0 0 .2em; }
      .loop .post .body-copy .comments-link {
        font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
        font-size: 0.875em; }
    .loop .post .entry-meta {
      width: 23.5%;
      margin-right: 2%;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
      font-size: 0.75em; }
      .loop .post .entry-meta .author {
        margin-bottom: .2em;
        color: #007896; }
      .loop .post .entry-meta .avatar {
        margin-top: .2em; }
        .loop .post .entry-meta .avatar img {
          width: 100%;
          height: auto;
          border: none; }
      .loop .post .entry-meta time {
        display: block; }
    .loop .post a {
      color: black; }
    .loop .post a:hover {
      text-decoration: none; }

aside h1 a, aside li a {
  color: black; }
aside h1 a:hover, aside li a:hover {
  text-decoration: none; }
aside ul, aside ol {
  list-style: none;
  margin: 0;
  padding: 0; }
aside .latest-posts li {
  *zoom: 1;
  margin-bottom: .4em; }
  aside .latest-posts li:before, aside .latest-posts li:after {
    display: table;
    content: "";
    line-height: 0; }
  aside .latest-posts li:after {
    clear: both; }
aside .latest-posts .featured-image {
  width: 21.25%;
  margin-right: 5%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent; }
  aside .latest-posts .featured-image img {
    margin-top: 0.25em;
    width: 100%;
    height: auto; }
aside .latest-posts p {
  width: 73.75%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.3;
  font-size: 0.92857em;
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif; }
  aside .latest-posts p time {
    clear: both;
    display: block;
    margin-top: .2em;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.92308em; }
aside .widget-area {
  margin: 0 0 2em; }
  aside .widget-area p {
    font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
    font-size: 0.9375em;
    line-height: 1.4;
    margin: 0 0 1em;
    clear: both; }
