.wrapper {
  *zoom: 1;
  max-width: 60em;
  margin: 0 auto 2em;
  padding: 0 .5em; }
  .wrapper:before, .wrapper:after {
    display: table;
    content: "";
    line-height: 0; }
  .wrapper:after {
    clear: both; }

main {
  width: 74%;
  margin-right: 4%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

aside {
  width: 22%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1.body-copy {
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
  font-weight: normal;
  font-size: 2.25em;
  line-height: 1.11111em;
  margin: 0 0 .3em; }

h2.body-copy {
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.20833em;
  margin: 1.5em 0 .2em; }

h3.body-copy {
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
  font-weight: bold;
  font-size: 1.0625em;
  line-height: 1.47059em;
  margin: 1.5em 0 0; }

h4.body-copy {
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.0625em;
  line-height: 1.47059em;
  margin: 1.5em 0 0; }

p.body-copy {
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
  font-size: 1.0625em;
  line-height: 1.47059em; }

p.preamble-body-copy {
  font-weight: bold;
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  font-size: 1em;
  line-height: 1.3125em; }

h1.aside, .post #reply-title {
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  border-bottom: #b5b5b5 1px solid;
  margin: 0 0 .4em;
  padding: 0 0 .2em; }

.post article, .post .history, .post #comments {
  width: 74.5%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.post .meta {
  width: 23.5%;
  margin-right: 2%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .post .meta .author {
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.875em;
    margin-bottom: .8em; }
    .post .meta .author img {
      margin-top: .5em;
      width: 100%;
      height: auto; }
  .post .meta time {
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.75em; }
.post .entry-meta, .post .entry-tags {
  *zoom: 1;
  margin: 1em 0;
  padding: 0; }
  .post .entry-meta:before, .post .entry-meta:after, .post .entry-tags:before, .post .entry-tags:after {
    display: table;
    content: "";
    line-height: 0; }
  .post .entry-meta:after, .post .entry-tags:after {
    clear: both; }
  .post .entry-meta li, .post .entry-tags li {
    display: inline;
    margin: 0;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.75em; }
  .post .entry-meta li:first-child, .post .entry-tags li:first-child {
    font-weight: bold;
    display: block; }
.post .entry-tags {
  margin-bottom: 2em; }
.post .edit {
  margin: 2.5em 0; }
.post article .entry-meta, .post article .entry-tags {
  display: none; }
  .post article .entry-meta li:first-child, .post article .entry-tags li:first-child {
    font-weight: bold;
    display: inline; }
    .post article .entry-meta li:first-child::after, .post article .entry-tags li:first-child::after {
      content: ": ";
      margin-right: .3em; }
.post #reply-title {
  margin-top: 1.5em; }

.loop {
  margin-top: 0; }
  .loop .post {
    *zoom: 1;
    margin-bottom: 1.5em; }
    .loop .post:before, .loop .post:after {
      display: table;
      content: "";
      line-height: 0; }
    .loop .post:after {
      clear: both; }
    .loop .post h1 {
      font-size: 1.5em; }
    .loop .post .body-copy {
      width: 74.5%;
      margin-right: 0;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .loop .post .body-copy p {
        margin: 0 0 .2em; }
      .loop .post .body-copy .comments-link {
        font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
        font-size: 0.875em; }
    .loop .post .entry-meta {
      width: 23.5%;
      margin-right: 2%;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
      font-size: 0.75em; }
      .loop .post .entry-meta .author {
        margin-bottom: .2em;
        color: #007896; }
      .loop .post .entry-meta .avatar {
        margin-top: .2em; }
        .loop .post .entry-meta .avatar img {
          width: 100%;
          height: auto;
          border: none; }
      .loop .post .entry-meta time {
        display: block; }
    .loop .post a {
      color: black; }
    .loop .post a:hover {
      text-decoration: none; }

ul.pagination {
  margin: 1em 0;
  padding: 0; }
  ul.pagination li {
    display: inline-block;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.875em;
    margin: 0 .5em 0 0; }

aside h1 a, aside li a {
  color: black; }
aside h1 a:hover, aside li a:hover {
  text-decoration: none; }
aside ul, aside ol {
  list-style: none;
  margin: 0;
  padding: 0; }
aside .latest-posts li {
  *zoom: 1;
  margin-bottom: .4em; }
  aside .latest-posts li:before, aside .latest-posts li:after {
    display: table;
    content: "";
    line-height: 0; }
  aside .latest-posts li:after {
    clear: both; }
aside .latest-posts .featured-image {
  width: 21.25%;
  margin-right: 5%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent; }
  aside .latest-posts .featured-image img {
    margin-top: 0.25em;
    width: 100%;
    height: auto; }
aside .latest-posts p {
  width: 73.75%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.3;
  font-size: 0.92857em;
  font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif; }
  aside .latest-posts p time {
    clear: both;
    display: block;
    color: #333; }
aside .widget-area {
  margin: 0 0 2em; }
  aside .widget-area p {
    font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
    font-size: 0.9375em;
    line-height: 1.4;
    margin: 0 0 1em;
    clear: both; }
