@import "extends";

aside {
  h1, li {
    a:hover {
      text-decoration: none;
    }
  }

  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  h1, li {
    a {
      color: black;
    }
  }

  .latest-posts {
    li {
      @include clearfix();
      margin-bottom: .4em;
    }
    .featured-image {
      @include columns(3, false, 5%);
      background-color: transparent;
      img {
        margin-top: emize(3);
        width: 100%;
        height: auto;
      }
    }
    p {
      @include columns(9, true, 5%);
      line-height: 1.3;
      time {
        clear: both;
        display: block;
        font-size: emize(12, 14);
        color: #333;
      }
    }
  }

  .widget-area {
    h1 {
      @extend h1.aside;
    }
    margin: 0 0 2em;
    p {
      font-family: $serif;
      font-size: emize(15);
      line-height: 1.4;
      margin: 0 0 1em;
      clear: both;
    }
  }
}
