body {
  > .wrapper, > footer nav {
    max-width: 56em;
  }
}

[role="main"] {
  @include columns(9);
}

aside {
  @include columns(3, true);
  .featured-image {
    background-color: transparent;
    width: 18%;
  }
  h2, p {
    margin: 0 0 0 22%;
  }
}
