body {
  min-width: 56em;
}
body > .wrapper {
  padding: 0 .5em;
}
.wrapper {
  @include clearfix();
  max-width: 56em;
  margin: 0 auto;
}
.breadcrumbs {
  margin: .5em 0 1.5em;
}

main {
  @include columns(9);
}

aside {
  @include columns(3, true);
  .featured-image {
    background-color: transparent;
    width: 18%;
  }
  h2, p {
    margin: 0 0 0 22%;
  }
}
