body {
  padding: 0 .5em;
  min-width: 56em;
  margin: 0 1em 2em;
}
body > .wrapper {
  padding: 0;
}
.wrapper, .breadcrumbs {
  @include clearfix();
  max-width: 56em;
  margin: 0 auto;
}

[role="main"] {
  @include columns(9);
}

aside {
  @include columns(3, true);
  .featured-image {
    background-color: transparent;
    width: 18%;
  }
  h2, p {
    margin: 0 0 0 22%;
  }
}
