.wrapper {
  @include clearfix();
  max-width: 60em;
  margin: 0 auto 2em;
  padding: 0 1em;
}

main {
  @include columns(9, false, 5%);
}

aside {
  @include columns(3, true, 5%);
}

@media ( max-width: 50em ) {
  main, aside {
    @include columns(12);
  }
}

#wpadminbar {
  display: none;
}
