.loop {
  margin-top: 0;
  .post {
    .entry-meta {
      margin-top: .5em;
      @include columns(3, true);
      font-family: $sansSerif;
      font-size: 1em;
      .author {
        margin-bottom: .2em;
        color: $linkColor;
        font-size: emize(13, 16);
      }
      time {
        font-size: emize(11, 16);
      }
      .avatar {
        img {
          width: 100%;
          // max-width: 10em;
          height: auto;
          border: none;
        }
      }
      time {
        display: block;
      }
    }
    .text {
      @include columns(9, true);
      float: right;
      margin: 0;
    }
  }
}
