.loop {
  margin-top: 0;
  h1.page-title {
    @extend h1.body-copy;
  }
  .post {
    @include clearfix();
    margin-bottom: 1.5em;
    h1 {
      @extend h2.body-copy;
      margin-top: 0;
    }
    .body-copy {
      @include columns(9, true, 3%);
      p {
        margin: 0 0 .2em;
      }
      .comments-link {
        font-family: $sansSerif;
        font-size: emize(14);
      }
    }
    .entry-meta {
      @include columns(3, false, 3%);
      font-family: $sansSerif;
      font-size: emize(12);
      .author {
        margin-bottom: .2em;
        color: $linkColor;
      }
      .avatar {
        margin-top: .2em;
        img {
          width: 100%;
          height: auto;
          border: none;
        }
      }
      time {
        display: block;
      }
    }
    a {
      color: black;
    }
    a:hover {
      text-decoration: none;
    }
  }
}
