@media ( max-width: 50em ) {
  .meta {
    .entry-tags, .entry-meta {
      margin-bottom: .5em;
    }
    .author-avatar {
      img {
        clear: both;
        float: none;
        margin: 0;
      }
      .author {
        clear: both;
        float: none;
        text-align: left;
      }
    }
  }
}
// @media ( max-width: 32em ) {
//   .post {
//     article.body-copy, .history, #comments, .meta {
//       @include columns(12);
//     }
//     article.body-copy {
//       overflow: visible;
//     }
//     article {
//       .entry-meta, .entry-tags {
//         display: block;
//       }
//     }
//     .meta {
//       margin: .2em .8em .4em 0;
//       width: 30%;
//       float: left;
//       .entry-meta, .entry-tags {
//         display: none;
//       }
//       .author-avatar {
//         margin-top: .3em;
//         img {
//           max-width: 8em;
//         }
//       }
//     }
//     article.body-copy {
//       float: none;
//     }
//   }
//   aside .latest-post {
//     h2 {
//       font-family: $sansSerif;
//       font-size: emize(13);
//       color: black;
//     }
//     time {
//       font-size: emize(11);
//     }
//   }
// }
