@import "extends";
.single .post {
  article, .history, #comments {
    @include columns(9, true, 4%);
  }

  .meta {
    @include columns(3, false, 4%);
    .author {
      font-family: $sansSerif;
      font-size: emize(14);
      margin-bottom: .8em;
      img {
        margin-top: .5em;
        width: 100%;
        height: auto;
      }
    }
    time {
      font-family: $sansSerif;
      font-size: emize(12);
    }
  }
  .entry-meta, .entry-tags {
    @include clearfix();
    margin: 1em 0;
    padding: 0;
    li {
      display: inline;
      margin: 0;
      font-family: $sansSerif;
      font-size: emize(12);
    }
    li:first-child {
      font-weight: bold;
      display: block;
    }
  }
  .entry-tags {
    margin-bottom: 2em;
  }

  .edit {
    margin: 2.5em 0;
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }

  article {
    .entry-meta, .entry-tags {
      display: none;
      li:first-child {
        font-weight: bold;
        display: inline;
        &::after {
          content: ": ";
          margin-right: .3em;
        }
      }
    }
  }
  #reply-title {
    @extend h1.aside;
    margin-top: 1.5em;
  }
}
