.single .post {
  .article-and-comments {
    @include columns(9, true, 4%);
  }

  .meta {
    @include columns(3, false, 4%);
    .author {
      font-family: $sansSerif;
      font-size: emize(14);
      margin-bottom: .8em;
      img {
        margin-top: .5em;
        width: 100%;
        height: auto;
      }
    }
    time {
      font-family: $sansSerif;
      font-size: emize(12);
    }
  }

  .alignright, .aligncenter { // centered media is bad
    float: right;
    margin: .3em 0 1em 1em;
    width: 42%;
    height: auto;
  }
  .alignleft {
    float: left;
    margin: .3em 1em 1em 0;
    width: 42%;
    height: auto;
  }
  .alignnone {
    float: none;
    display: block;
    clear: both;
    margin: .3em 0 1em;
    width: 100% !important;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .wp-caption {
    margin-bottom: .3em;
  }

  .featured-image {
    float: right;
    width: 42%;
    margin: .3em 0 1em 1em;
  }

  .featured-image .caption, .wp-caption .wp-caption-text {
    font-family: $sansSerif;
    font-size: emize(14);
    margin-bottom: 0;
  }

  .featured-image img {
    width: 100%;
    height: auto;
    margin-bottom: .2em!important;
  }
  img {
    max-width: 100%;
  }

  .entry-meta, .entry-tags {
    @include clearfix();
    margin: 1em 0;
    padding: 0;
    li {
      display: inline;
      margin: 0;
      font-family: $sansSerif;
      font-size: emize(12);
    }
    li:first-child {
      font-weight: bold;
      display: block;
    }
  }
  .entry-tags {
    margin-bottom: 2em;
  }

  .edit {
    margin: 2.5em 0;
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }

  article {
    .entry-meta, .entry-tags {
      display: none;
      li:first-child {
        font-weight: bold;
        display: inline;
        &::after {
          content: ": ";
          margin-right: .3em;
        }
      }
    }
  }

  #reply-title {
    @extend h1.aside;
    margin-top: 2em;
  }
}

@media ( max-width: 38em ) {
  .single .post {
    .article-and-comments {
      @include columns(12);
      overflow: visible;
    }
    article {
      .entry-meta, .entry-tags {
        display: block;
      }
    }
    .meta {
      margin: .2em .8em .4em 0;
      width: 30%;
      float: left;
      .entry-meta, .entry-tags {
        display: none;
      }
      .author-avatar {
        margin-top: .3em;
        img {
          max-width: 8em;
        }
      }
    }
    article.body-copy {
      float: none;
    }
  }
}
