article {
  overflow: hidden;
  .alignright, .aligncenter { // centered media is no good
    float: right;
    margin: .3em 0 1em 1em;
    width: 42%;
    height: auto;
  }
  .alignleft {
    float: left;
    margin: .3em 1em 1em 0;
    width: 42%;
    height: auto;
  }
  .alignnone {
    float: none;
    display: block;
    clear: both;
    margin: .3em 0 1em;
    width: 100%;
    height: auto;
  }

  .featured-image img {
    float: right;
    width: 42%;
    height: auto;
    margin: .3em 0 1em 1em;
  }
  img {
    max-width: 100%;
  }
}
