.media-single tr.post_title,
.media-single tr.post_content,
.media-single tr.image_alt,
#media-items tr.post_title,
#media-items tr.post_content,
#media-items tr.image_alt,
#tab_advanced {
  display: none;
}

#login #nav, #backtoblog {
  display: none;
}

#login h1 a, #login h1 a:hover {
  background: none;
  text-indent: 0;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  cursor: text;
  height: auto !important;
  width: auto !important;
}

.mceToolbar > tbody > tr > td {
  float: left;
  min-height: 28px;
}
