.loop {
  clear: left;
  margin-top: 0;
  h1.page-title {
    @extend %h1.body-copy;
  }
  .post {
    @include clearfix();
    margin-bottom: 1.5em;
    h1 {
      @extend %h2.body-copy;
      margin-top: 0;
    }
    .body-copy {
      @include columns(9, true, 3%);
      p {
        margin: 0 0 .2em;
      }
      .published,
      .comments-link {
        font-family: $sans-serif;
        font-size: emize(14);
      }
    }
    a {
      color: #000;
    }
    .entry-meta {
      @include columns(3, false, 3%);
      font-family: $sans-serif;
      .author {
        margin-bottom: .2em;
        font-size: emize(14);
        @media (max-width: 32em) {
          font-size: emize(12);
        }
        a:not(:hover) {
          color: $link-color;
        }
      }
      img {
        margin-top: .3em;
        width: 100%;
        height: auto;
        border: 0;
      }
      time {
        display: block;
        font-size: emize(12);
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
}
