article {
  overflow: hidden;
  &.body-copy {
    time {
      font-family: $sansSerif;
      font-size: emize(13, 16);
      display: run-in;
      margin-right: 1em;
    }
  }

  .alignright, .aligncenter { // centered media is no good
    float: right;
    margin: .3em 0 1em 1em;
    width: 42%;
    height: auto;
  }
  .alignleft {
    float: left;
    margin: .3em 1em 1em 0;
    width: 42%;
    height: auto;
  }
  .alignnone {
    float: none;
    display: block;
    clear: both;
    margin: .3em 0 1em;
    width: 100%;
    height: auto;
  }

  .featured-image {
    float: right;
    width: 42%;
    margin: .3em 0 1em 1em;
  }

  .featured-image .caption, .wp-caption .wp-caption-text {
    font-family: $sansSerif;
    font-size: emize(13);
  }

  .featured-image img {
    width: 100%;
    height: auto;
    margin-bottom: .2em!important;
  }

  img, .wp-caption {
     max-width: 100%;
   }
  img {
    height: auto;
  }

  .entry-tags, .entry-meta {
    margin: 0 0 .2em;
    dt, dd {
      display: inline;
      font-family: $sansSerif;
      font-size: emize(13);
      margin: 0;
      ul {
        margin: 0;
      }
      ul, li {
        display: inline;
        padding: 0;
      }
    }
  }
  .box {
    clear: both;
  }
  .box-content {
    margin-bottom: .5em;
    font-size: emize(14, 16);
    line-height: emize(19, 14);
  }
  .box.read-more {
    ul, ol {
      margin-bottom: 0;
    }
  }
  .meta {
    clear: both;
    ul {
      padding-left: 0;
    }
  }
  .author-avatar {
    img {
      float: right;
      width: 15%;
      height: auto;
      margin: 0 0 0 1em;
    }
    .author {
      clear: right;
      float: right;
      min-width: 150px;
      text-align: right;
      font-family: $sansSerif;
      font-size: emize(13);
    }
  }
}
