.single .post {
  clear: left;
  .article-and-comments {
    @include columns(9, true, 3%);
  }

  .meta {
    @include columns(3, false, 3%);
    .author {
      font-family: $sans-serif;
      font-size: emize(14);
      margin-bottom: .8em;
      img {
        margin-top: .5em;
        width: 100%;
        height: auto;
      }
    }
    time {
      font-family: $sans-serif;
      font-size: emize(12);
    }
  }

  .box {
    clear: both;
  }

  .alignright, .aligncenter { // centered media is bad
    float: right;
    margin: .3em 0 1em 1em;
    width: 42%;
    height: auto;
  }
  .alignleft {
    float: left;
    margin: .3em 1em 1em 0;
    width: 42%;
    height: auto;
  }
  .alignnone {
    float: none;
    display: block;
    clear: both;
    margin: .3em 0 1em;
    width: 100% !important;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .wp-caption {
    margin-bottom: .3em;
  }

  .featured-image {
    float: right;
    width: 42%;
    margin: .3em 0 1em 1em;
  }

  .featured-image .caption, .wp-caption .wp-caption-text {
    font-family: $sans-serif;
    font-size: emize(14);
    margin-bottom: 0;
  }

  .featured-image img {
    width: 100%;
    height: auto;
    margin-bottom: .2em!important;
  }

  img, .wp-caption {
     max-width: 100%;
   }
  img {
    height: auto;
  }

  .entry-meta, .entry-tags {
    @include clearfix();
    margin: 1em 0;
    padding: 0;
    li {
      display: inline;
      margin: 0;
      font-family: $sans-serif;
      font-size: emize(12);
    }
    li:first-child {
      font-weight: bold;
      display: block;
    }
  }
  .entry-tags {
    margin-bottom: 2em;
  }

  .edit {
    margin: 2.5em 0 1em;
    a {
      color: #000;
      &:hover {
        text-decoration: none;
      }
    }
  }

  article {
    .entry-meta, .entry-tags {
      display: none;
      li:first-child {
        font-weight: bold;
        display: inline;
        &::after {
          content: ': ';
          margin-right: .3em;
        }
      }
    }
  }

  #reply-title {
    @extend %h1.aside;
    margin-top: 2em;
  }
}

@media (max-width: 38em) {
  .single .post {
    .article-and-comments {
      @include columns(12);
      float: none;
      overflow: visible;
      #comments h1, #reply-title {
        margin-top: 1em;
      }
    }
    article {
      .entry-meta, .entry-tags {
        display: block;
      }
    }
    .meta {
      float: left;
      width: 30%;
      margin: .2em 1em .4em 0;
      .entry-meta, .entry-tags {
        display: none;
      }
      time {
        display: block;
        margin-bottom: 1em;
      }
      .author {
        font-size: emize(12);
        img {
          margin-top: .3em;
        }
      }
    }
  }
}

@media (max-width: 32em) {
  .single .post {
    article {
      .alignleft,
      .alignright,
      .aligncenter,
      .featured-image {
        width: 100% !important;
        margin: 1em 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.mf-v4 .author .dropdown-menu li {
  font-size: emize(14, 12);
}
