@media ( max-width: 54em ) {
  [role="main"] {
    @include columns(12);
    margin-bottom: 1em;
  }
  aside {
    @include columns(12);
    .featured-image {
      width: 15%;
    }
    h2, p {
      margin-left: 18%;
      clear: none;
    }
  }
  body > .wrapper {
    margin-top: 1em;
  }

  .meta {
    .entry-tags, .entry-meta {
      margin-bottom: .5em;
    }
    .author-avatar {
      img {
        clear: both;
        float: none;
        margin: 0;
      }
      .author {
        clear: both;
        float: none;
        text-align: left;
      }
    }
  }
}

@media ( max-width: 32em ) {
  .post {
    article.body-copy, .history, #comments, .meta {
      @include columns(12);
    }
    article.body-copy {
      overflow: visible;
    }
    article {
      .entry-meta, .entry-tags {
        display: block;
      }
    }
    .meta {
      margin: .2em .8em .4em 0;
      width: 30%;
      float: left;
      .entry-meta, .entry-tags {
        display: none;
      }
      .author-avatar {
        margin-top: .3em;
        img {
          max-width: 8em;
        }
      }
      .vote-box {
        display: none;
      }
    }
    article.body-copy {
      float: none;
    }
  }
  aside {
    @include columns(12);
  }
}
