.media-single tr.post_title,
.media-single tr.post_content,
.media-single tr.image_alt,
#media-items tr.post_title,
#media-items tr.post_content,
#media-items tr.image_alt,
#tab_advanced {
  display: none;
}

#login #nav, #backtoblog {
  display: none;
}

.mceToolbar > tbody > tr > td {
  float: left;
  min-height: 28px;
}

.column-author img, .column-username img, .column-comment .comment-author img {
  width: 32px;
  height: 32px;
}
