body {
  > .wrapper {
    max-width: 56em;
    min-height: 40em;
    margin: 1.5em auto 1em;
    padding: 0 1em;
  }
}

[role="main"] {
  @include columns(8);
}
aside {
  @include columns(4, true);
}

.page-title {
  font-weight: normal;
  font-size: emize(32);
  line-height: 1.1;
  margin: 0 0 .2em;
  &.with-feed {
    padding-bottom: .1em;
    border: $border;
    border-width: 0 0 1px;
  }
}

.btn.edit {
  margin: 1em 0;
}

.btn a {
  color: black;
}


.wrapper {
  .categories, .archive, .authors, .help {
    .page-title {
      margin-bottom: .5em;
    }
    li {
      margin-bottom: .8em;
    }
    .count {
      color: $textColorDark;
      font-family: $sansSerif;
      font-size: emize(13);
    }
  }
}

#wpadminbar {
  position: absolute !important;
  z-index: 1 !important;
  display: none;
}
