html {
  margin-top: 0 !important; }

body {
  margin: 0 !important; }
  body > .wrapper {
    max-width: 36em;
    margin: 1.5em 1em 2em;
    padding: 0 1em;
    overflow: hidden; }

.page-title {
  font-weight: normal;
  font-size: 2em;
  line-height: 1.1;
  margin: 0 0 0.2em; }

.btn.edit {
  margin: 1em 0; }

#wpadminbar {
  display: none; }

a:hover {
  text-decoration: underline; }

article {
  overflow: hidden; }
  article .alignright, article .aligncenter {
    float: right;
    margin: 0.3em 0 1em 1em;
    width: 42%;
    height: auto; }
  article .alignleft {
    float: left;
    margin: 0.3em 1em 1em 0;
    width: 42%;
    height: auto; }
  article .alignnone {
    float: none;
    display: block;
    clear: both;
    margin: 0.3em 0 1em;
    width: 100%;
    height: auto; }
  article .featured-image img {
    float: right;
    width: 42%;
    height: auto;
    margin: 0.3em 0 1em 1em; }
  article img {
    max-width: 100%; }

@media print {
  body > footer, body > header, aside, menu,
  .btn {
    display: none !important; } }
