html {
  margin-top: 0 !important;
}
body {
  margin: 0 !important;
  > .wrapper {
    max-width: 36em;
    margin: 1.5em 1em 2em;
    padding: 0 1em;
    overflow: hidden
  }
}

.page-title {
  font-weight: normal;
  font-size: emize(32);
  line-height: 1.1;
  margin: 0 0 .2em;
}

.btn.edit {
  margin: 1em 0;
}

#wpadminbar {
  display: none;
}

a:hover {
  text-decoration: underline;
}
